<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FilterWheel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ProductName" value="FilterWheel" />
    <add key="HardwareFilterName" value="Filter Wheel Imager" />
    <add key="ProductShortDisplayName" value="Filter Wheel Imager" />
    <add key="ProductLongDisplayName" value="Multi-Spectral Imaging - Filter Wheel Imager" />
    <add key="Version" value="1.0.0 - Beta" />
    <add key="CheckUpdateUri" value="https://www.thorlabs.com/software_pages/check_updates.cfm?ItemId=FilterWheel" />
    <add key="UpdatePageUri" value="https://www.thorlabs.com/software_pages/viewsoftwarepage.cfm?code=FilterWheel" />
    <add key="ProductInfoUrl" value="https://www.thorlabs.com/search/thorsearch.cfm?search=FilterWheel" />
    <add key="MultiLanguage" value="true" />
    <add key="LanguageFileDirectory" value="Localization" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.115.45" newVersion="2020.1.115.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.115.45" newVersion="2020.1.115.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.115.45" newVersion="2020.1.115.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FilterWheel.Properties.Settings>
      <setting name="FriendlyName" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorStyle" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
    </FilterWheel.Properties.Settings>
  </userSettings>
</configuration>
